repos:
  # Hooks locales
  - repo: local
    hooks:
      - id: rosemary-commit-test
        name: Run unit tests with rosemary
        entry: rosemary commit_test
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: commit-msg-conventional
        name: Conventional Commits check
        entry: bash .githooks/commit-msg
        language: system
        stages: [commit-msg]

  # Formateo de código
  - repo: local
    hooks:
      - id: isort
        name: isort (sort imports)
        entry: isort --profile black
        language: python
        types: [python]
        files: \.py$
        additional_dependencies: [isort==6.0.1]

      - id: black
        name: black (code formatter)
        entry: black
        language: python
        types: [python]
        files: \.py$
        additional_dependencies: [black==25.1.0]

  # Linting rápido
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.287
    hooks:
      - id: ruff
        args: ["--ignore=E501", "--fix"]
        types: [python]

  # Control de commits y hooks útiles
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
