name: Notificación de Push al Equipo

on:
  push:
    branches:
      - main
      - trunk

jobs:
  send_email:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      # No necesitamos instalar Flask ni Flask-Mail, smtplib viene con Python

      - name: Enviar correo al equipo
        run: python .github/scripts/send_notification.py
        env:
          # Estas variables deben estar en Settings -> Secrets and variables -> Actions
          MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
          MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
          MAIL_SERVER: "smtp.gmail.com" # O el servidor que uses (smtp.office365.com, etc)
          MAIL_PORT: "465"
